<?xml version="1.0"?>
<robot name="pioneer_proarm" xmlns:xacro="http://www.ros.org/wiki/xacro"> 


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find p3dx_description)/urdf/pioneer3dx.urdf" />
  
	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />


	<xacro:include filename="$(find sick_scan)/urdf/sick_lms1xx.urdf.xacro" />

  
	<!-- Camara simple
 	 <xacro:include filename="$(find hector_sensors_description)/urdf/generic_camera.urdf.xacro" />
    	 <xacro:include filename="$(find hector_sensors_description)/urdf/asus_camera.urdf.xacro" />-->
 	 
		 	
    <xacro:include filename="$(find arm)/urdf/dynamixel_pro_arm_macro.urdf" />

    <xacro:arg name="prefix" default="pioneer_proarm_"/>

    <xacro:pro_arm parent="$(arg prefix)base_link">
    	<origin xyz="-0.0 0 0.24" /><!--slightly above pioneer plattform-->
    </xacro:pro_arm>


    <xacro:pioneer3dx prefix="$(arg prefix)"/>
<!--laser
   <xacro:sick_lms_1xx name="laser" ros_topic="front_laser/scan" parent="$(arg prefix)base_link">
	<origin xyz="0.215 0.0 0.18" rpy="0 0 0"/>
    </xacro:sick_lms_1xx>

-->
    <xacro:pioneer_gazebo_control prefix="/robot1"/>
    <xacro:gazebo_pioneer_params />
    <xacro:gazebo_pioneer_drive prefix="/robot1"/>


   <!-- <xacro:hokuyo_laser prefix="/robot1"/>-->

</robot>

