<launch>
	<arg name="usb_port" default="/dev/ttyACM0"/>
	<arg name="baud" default="20000"/>
 　　　　　　 <arg name="launch_joystick" default="true"/> 
	<node pkg="ed_control" name="arduino_control" type="arduino_control" output="screen"/>
	<node pkg="rosserial_python" name="arduino_serial_node" type="serial_node.py" args="_port:=$(arg usb_port) _baud:=$(arg baud)" output="screen"/>
　　　　　　　　<node if="$(arg launch_joystick)" name="joystick_node" pkg="joy" type="joy_node"/>
</launch>
