<launch>

	<arg name="altitude" default="1.0"/>
    <!-- GAZEBO-->
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>
	<arg name="prefix" default="summit_xl_"/>
	<arg name="ros_planar_move_plugin" default="false"/>
	<arg name="launch_robot_localization" default="true"/>

 <arg name="record_rosbag" default="true" />

	<rosparam file="$(find summit_pro_arm_moveit)/config/gazebo_ros_control_params.yaml" command="load"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find ed_pmov)/worlds/dokku_building_textures.world"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="headless" value="$(arg headless)"/>
		<arg name="debug" value="$(arg debug)"/>
	</include>

	<!--<node pkg="turtlebot_teleop" type="teleop_quad_keyboard.py" name="turtlebot_teleop" required="false"/>
      ROBOT1 -->

	<group ns="robot1">
		<node pkg="ed_pmov" type="ed_pmov" name="ed_pmov" output="screen" required="false"/>
		<!--launch-prefix="xterm -e gdb - -args"-->
		<include file="$(find pioneer_proarm_moveit)/launch/demo.launch">
			<arg name="z" default="0.05"/>
			<arg name="x" default="0.0"/>
			<!-- -1.5-->
			<arg name="y" default="0.0"/>
		</include>
		<include file="$(find p3dx_control)/launch/control.launch"/>
	</group>

    <!--node_controller-->

	<node name="pioneer_simm_control" pkg="ed_control" type="pioneer_p3dx_control_simm"/>
	<node name="control" pkg="ed_control" type="acontrol_arm" output="screen" args="$(arg altitude)" />

    <!-- ROBOT2  -->

	<group ns="robot2">
		<include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_mark.launch">
			<arg name="z" default="5.0"/>
			<arg name="x" default="0.3"/>
			<arg name="y" default="0.2"/>
		</include>
	</group>

    <!--April Tag ROS launcher-->

	<include file="$(find apriltag_ros)/launch/continuous_detection.launch">
		<arg name="camera_name" value="/robot1/cam"/>   <!--/robot1/cam-->
		<arg name="camera_frame" value="/robot1/cam_optical_frame"/>  <!--/robot1/cam-->
		<arg name="image_topic" value="image_raw"/>
	</include>

	<node pkg="image_view" type="image_view" name="ImageDisplay" args="image:=/tag_detections_image"/>

    <!--Joystick-->

	<node name="joystick_node" pkg="joy" type="joy_node"/>


 <node pkg="rosbag" type="record" name="record_rosbag"
       args="record -o /home/edd/catkin_ws/src/ed_pmov/bags/rosbag  /tag_detections /robot1/odom /robot2/ground_truth/state /robot1/joint_states /robot2/command/motor /robot2/motor_status"
       if="$(arg record_rosbag)" />


</launch>
