<launch>



<!--Motors, ps_eye-->
  <include file="$(find ed_pmov)/launch/real_arm_ps_eye.launch">
	<arg name="launch_joystick" default="true"/> 
	<arg name="gui" default="false"/>
        <arg name="video_device" default="/dev/video0"/> 
  </include>

<!--EM Servo
  <include file="$(find ed_pmov)/launch/arduino_control.launch">
	<arg name="launch_joystick" value="false"/> 
  </include>
-->


</launch>

