<launch>
	<node name="foo" pkg="ed_pmov" type="disable_xbox_mouse.sh" />
	<arg name="launch_joystick" default="true"/> 
	<node if="$(arg launch_joystick)" name="joystick_node" pkg="joy" type="joy_node"/>

   <!--eeff Camera-->

	<include file="$(find ed_pmov)/launch/ps_eye_cam.launch"/>

   <!--April Tag ROS launcher-->

	<include file="$(find ed_pmov)/launch/apriltag_continuous_detection.launch">
		<arg name="camera_name" value="/ps_eye_camera/filtered"/>   <!--/robot1/cam-->
		<arg name="camera_frame" value="/ps_eye_camera/filtered"/>  <!--/robot1/cam-->
		<arg name="image_topic" value="image_raw"/> 
	</include>

	<node pkg="image_view" type="image_view" name="ImageDisplay" args="image:=/tag_detections_image"/>

</launch>

