<launch>
	<arg name="video_device" default="/dev/video2"/> 
	<arg name="camera_name" default="usb_camera"/>
     	<node name="usb_$(arg camera_name)" pkg="usb_cam" type="usb_cam_node" output="screen" >
	    <param name="video_device"  value="$(arg video_device)" />
	    <param name="image_width" value="640" />	    
	    <param name="image_height" value="480" />
	    <param name="framerate" value="15" />
	    <param name="pixel_format" value="yuyv" />
	    <param name="camera_frame_id" value="usb_cam" />
    	    <param name="io_method" value="mmap"/>
      	</node>
</launch>
